*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font:14px/1.8426 "arial";
}
i{
  display:inline-block;
}
nav ul{
  list-style:none;
}
a{
  display:inline-block;
  text-decoration: none;
  color:#000;
}
a:hover{
  color:#FC3364;
}
h6{
  height:36px;
  background: #333;
  color:#fff;
  font-size:20px;
  padding-left:30px;
  border-radius: 5px;
}
.left{
  float:left;
  width:50%;
  padding:10px;
  border-right:5px dashed #35EF39;
}
.right{
  float:right;
  width:50%;
  padding:10px;
}
/* common use */
.css-sprite{
  width:200px;
  background: #e4393c;
  margin-left:50px;
  padding:0 1px;
}
.css-sprite li{
  line-height: 40px;
  padding-left:5px;
  border-bottom: 1px solid #999;
}
.css-sprite li a{
  color:#fff;
}
.css-sprite li:hover{
  background: #fff;
}
.css-sprite li:hover a{
  color:#e4393c;
}
.css-sprite li:hover .icon-sprite{
  background-position-x:-25px;  
}
.css-sprite .icon-sprite{
  width:24px;
  height:40px;
  float:left;
  margin:0 10px 0 8px;
  background: url("s-icon.png") no-repeat;
  background-position:0 0;
}
/* css-sprite icon */
.icon-font{
  font:normal 20px "icomoon";
  color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grascale;
  margin:0 10px;
  vertical-align: middle; 
}
li:hover i{
  color:#e4393c;
}
/* html-font icon */
/* 
  先集体设置好字体
  然后通过伪元素设置内容
 */
[class^="icon-"],[class*=" icon-"]{
  font:normal 20px "icomoon";
  color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grascale;
  margin:0 10px;
  vertical-align: middle;
}
.css-font .icon-1:before{
  content:"\e901";
}
.css-font .icon-2:before{
  content:"\e903";
}
.css-font .icon-3:before{
  content:"\e90a";
}
.css-font .icon-4:before{
  content:"\e938";
}

.html-font li i.icon-font:before{
  content="";
}
/* fa */
.icons{
  background:#eee;
  padding:10px;
}
.icons i{
  font-size:60px;
}
.icons .heart-1{
  position:relative;
}
.icons .heart-2{
  position:absolute;
  top:0;
  left:0;
  color:#EB1D1D;
  -webkit-transform:scale(0);
  -webkit-transition:transform 0.5s;
}
.icons .heart-1:hover .heart-2{
  -webkit-transform:scale(1.5);
} 