*{
  margin:0;
  padding:0;
}
p{
  margin-top:30px;
  font-size:16px;
}
/*金属*/
.text_metal{
  height:30px;
  line-height:30px;
  font-weight:bold;
  /* default */
  background:black;
  color:white;
  position:relative;
}
.text_metal_cover{
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(to bottom,black 0%,transparent 50%,black);
  opacity:0.5;
}
/* 毛玻璃 */
.text_glass{
  font-weight:bold;
  height:50px;
  line-height:50px;
  font-size:30px;
  box-shadow:1px 1px 2px 2px #ccc;
  color:rgba(0,0,0,0);
  text-shadow:0 0 4px black;
}
/* 文本首字下沉效果 */
.text_first_letter_down{
  text-indent:2em;
  word-spacing:0;
  letter-spacing:0;
}
.text_first_letter_down:first-letter{
  float:left;
  font-size:2em;
}
.text_first_letter_down>span{
  text-transform:uppercase;
}

.text_selected_style::selection{
  background:#45CBF4;
  color:#F00C0C;
}