*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font:14px/1.8426 "microsoft yahei";
  background: #fff;
}
a{
  display:inline-block;
  text-decoration:none;
  color:#000;
}
a:hover{
  color:#F54D4D;
  text-decoration:underline;
}
ul{
  list-style: none;
}
.clearfix:after{
  content:"";
  display:block;
  height:0;
  clear:both;
}
h6{
  line-height: 36px;
  font-size:20px; 
  background: #333;
  color: #fff;
  text-indent: 50px;
  margin-bottom: 30px;
}
i{
  display:inline-block;
}
/* common use */
.template-1{
  .container{
    width:600px;
    height:400px;
    position:relative;
    overflow: hidden;
    /* 辅助定位等 */
    margin:0 auto;
  }
  .container .img-box{
    position:absolute;
    width:4800px;
  }
  .container .img-box img{
    float:left;
  }
  .buttons{
    width:300px;
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-150px;
    z-index:999;
    text-align: center;
    span{
      display:inline-block;
      width:20px;
      height:10px;
      // border-radius:50%;
      border:1px solid #F8D0B3;
      background:#8DDFF8;
      opacity: 0.4;
      cursor:pointer;
      margin:5px;
    }
    span.on{
      opacity: 1;
    }
    span:hover{
      opacity: 1;
      height:12px;
    }
  }
  .side-btn{
    .btn-prev,.btn-next{
      width:20px;
      height:20px;
      border-right:2px solid #fff;
      border-bottom:2px solid #fff;
      position:absolute;
      top:50%;
      margin-top:-10px;
      cursor:pointer;
      opacity:0.5;
    }
    .btn-prev:hover,.btn-next:hover{
      opacity:1;
    }
    .btn-prev{
      -webkit-transform: rotate(135deg);
      left:10px;
    }
    .btn-next{
      -webkit-transform: rotate(-45deg);
      right:10px;
    }
  }
}
.template-2{
  margin-left:400px;
  position:relative;
  li{
    float:left;
  }
  li a{
    line-height: 30px;
    text-align: center;
    width:100px;
    border:1px solid #999;
    border-right:none;
    background:#8CCAF6;
  }
  li:last-child a{
    border-right:1px solid #999;
  }
  .tab-content{
    position:absolute;
    left:0;
    top:30px;
    border:1px solid #999;
    border-top:none;
    padding:20px;
    width:500px;
    height:150px;
    display:none;
  }
  /* active tab */
  li.active a{
    border-bottom:none;
    background:#fff;
  }
  li.active .tab-content{
    display:block;
  }
}
